.Lancer {
    margin-block-end: 3%;
}

#etapeParEtape-valeurs td{
    text-align: center;
}

#cbDePts {
    display:none;
}

#suivant {
    display:none;
}

td {
    display: table-cell;
    vertical-align: inherit;
  }

.svgTest2 {
    display:block;
    margin:10px auto;
    /* border:1px solid black; */
    }

#nav {/*On crée la barre de navigation entre les choix de dataset à générer*/
    margin:0;
    padding:0;
    }

#nav li {/*On place les boutons en ligne*/
    display:inline;
    padding:0;
    margin:0;
    }

#gaussienne{  /*Permet de display l'affichage du data set gaussien au démarrage par défault*/
    display:block;
}    

#droite { /*On cache volontairement les autres type de dataset jusqu'à ce qu'on les appelle*/
    display:none;
}

#homogene{
    display:none;
}